Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
*.bak
inc/
.build/
_build/
blib/
pm_to_blib
Acme-SuddenlyDeath-*
Acme-SuddenlyDeath-*.tar.gz
/Acme-SuddenlyDeath-*
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE
